{% extends 'base.html.twig' %}

{% block title %}edit{% endblock %}

{% block content %}
    <form method="POST">
        <label>title</label>
        <input type="text" name="post[title]" value="{{ post.title }}">
        <label>body</label>
        <textarea name="post[body]">{{ post.body }}</textarea>
        <label>categories</label>
        <select name="post[category_id]">
            {% for category in categories %}
                <option value="{{ category.id }}" {% if category.id == post.category %} selected {% endif %}>{{ category.name }}</option>
            {% endfor %}
        </select>
        <select name="post[tag_ids][]" multiple>
            {% for tag in tags %}
                <option value="{{ tag.id }}">{{ tag.title }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="submit">
    </form>
{% endblock %}